<!-- <nav class=" newnav navbar navbar-expand-md navbar-light  border-bottom sticky-top">
    <a class="navbar-brand" href="/rooms"><i class="fa-solid fa-house-chimney-medical"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="/rooms"><B>Home</B> </a>
        <a class="nav-item nav-link" href="/rooms"><b>All Patient</b></a>
        <a class="nav-item nav-link" href="/rooms/new"><b>Add new Patient</b></a>
        
      </div>
    </div>
  </nav> -->

  <nav class="navbar sticky-top">
    <div class="logo">🏥 PMCH Hospital </div>
    <ul>
        <li><a href="/rooms"><B>Home</B></a></li>
        <li><a href="/rooms">All Patient</a></li>
        <li><a href="/rooms/new">Add new Patient</a></li>
        <li><a href="#">Doctors</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
